@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

<div class="d-flex gap-2 w-100 mb-3">
  

        @{
            var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (!providers.Any())
            {
                <div>
                    <p>
                        We couldn't find any external provider
                    </p>
                </div>
            }
            else
            {
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in providers)
                            {

                                <input type="submit" class="btn vrp-google-btn flex-fill w-100" value="@provider.Name" name="provider" />
                            }
                        </p>
                    </div>
                </form>
            }
        }
   
</div>